body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 34px;
    overflow: hidden;
    background: linear-gradient(72.85deg, #D9547B 0%, #F8AD48 100%);


}


section {
    display: flex;
    div {
        display: inline;
    }
    ul {
        font-size: 16px;
        line-height: 18px;
        margin-top: 48px;
        display: block;
        li {
            justify-content: space-between;
            display: flex;
            width: 400px;
            height: 2.5em;
            align-items: center;
            border-bottom: 1px solid white;
            padding-bottom: 2vh;
            padding-top: 2vh;
            img {
                padding-left: 0.56vw;
            }
            p {
                display: flex;
                align-items: center;
            }
        }
    }
}

.right-column {
    margin-left: 10em;
    float: right;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-column {
    color:  #FFFFFF;
    padding-left: 14.03vw;
    float: left;
}

#temperature-icon {
    z-index: -1;
    font-size: 340px;
    color: #FFFFFF;
    opacity: 0.2;
    position: absolute;
}

#weather-icon {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    max-width: 100%;
    max-height: 100%;
}
