$white: #FFFFFF;

$gradiant_hot: linear-gradient(72.85deg, #D9547B 0%, #F8AD48 100%);
$grandiant_casual: linear-gradient(72.85deg, #71376E 0%, #F8AD48 100%);
$gradiant_cold: linear-gradient(72.85deg, #1DA9C2 0%, #F8AD48 100%);