div {
    .wrap {
        max-width: 1440px;
        height: 880px;
        margin-left: auto;
        margin-right: auto;
    
    }}
    
    header {
        padding-top: 2vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 0.57%;
        margin-top: 0.57%;
    
    }